*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    position: relative;
    transform: translate3d(0px, 0vh, 0px)
}

#one{
    background-color: #090b1a;
    height: 100vh;
    position: relative;
}

#two{
    background-color: #18c1d6;
    height: 100vh;
    position: relative;
}

div.slide_container{
    position: absolute;
    left: 50%;
    margin-left: -140px;
    /* transition: width 1s .4s; */
}

.img_container{
    position: relative;
    bottom: -350px;
    z-index: 1;
}

.pos{
    position: absolute;
    top:0;
    left: 0;
}

.viewing-page-1 .sec1{
    opacity:1
}
.viewing-page-1 .sec2{
    opacity:0
}
.viewing-page-1 .sec3{
    opacity:0
}
.viewing-page-1 .sec4{
    opacity:0
}
.viewing-page-1 .sec5{
    opacity:0
}
.viewing-page-1 .sec6{
    opacity:0
}
.viewing-page-1 .sec7{
    opacity:0
}

.viewing-page-2{
    transform: translate3d(0px, -100vh, 0px)
}

.movedown_container{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    height: 38px;
    z-index: 2;
}

.one_next{
    width: 26px;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -13px ;
    background: url('img/ic_one_next.png');
    animation-name: movedown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}