*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#one{
    background-color: #090b1a;
    height: 100vh;
}

#two{
    background-color: #18c1d6;
    height: 100vh;
}

div.slide_container{
    position: absolute;
    left: 50%;
    margin-left: -140px;
    /* transition: width 1s .4s; */
}

.img_container{
    position: relative;
    bottom: -350px;
}

.pos{
    position: absolute;
    top:0;
    left: 0;
}


.viewing-page-1 .sec1{
    opacity:1
}
.viewing-page-1 .sec2{
    opacity:0
}
.viewing-page-1 .sec3{
    opacity:0
}
.viewing-page-1 .sec4{
    opacity:0
}
.viewing-page-1 .sec5{
    opacity:0
}
.viewing-page-1 .sec6{
    opacity:0
}
.viewing-page-1 .sec7{
    opacity:0
}