*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    position: relative;
    transform: translate3d(0px, 0vh, 0px);
    transition: all 900ms ease 0s;
}


#one{
    background-color: #090b1a;
    height: 100vh;
    position: relative;
}

#two{
    background-color: #18c1d6;
    height: 100vh;
    position: relative;
}

#three{
    background-color: #65060c;
    height: 100vh;
    position: relative;
}

#four{
    background-color: #7c50fb;
    height: 100vh;
    position: relative;
}

#five{
    background-color: #58b252;
    height: 100vh;
    position: relative;
}

div.slide_container{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top:60%;
    transition: left 1s .4s, top 1s .4s;
}

#one .slide_container .img_container{
    position: relative;
    z-index: 3;
    width: 200px;
}

#two .img_container{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    width: 200px;
    transition: left 1s .4s, opacity 1s .4s; 
}

#four .img_container{
    position: absolute;
    top: 10%;
    left: 30%;
    margin-left: -100px;
    opacity: 0;
    width: 200px;
    z-index:2;
    transition: left 1s .4s, opacity 1s .4s, top 1s .4s; 
}

img{
    width: 100%;
}

.pos{
    position: absolute;
    top:0;
    left: 0;
}

.sec1{
    opacity:1
}
.sec2{
    opacity:0
}
.sec3{
    opacity:0
}
.sec4{
    opacity:0
}
.sec5{
    opacity:0
}
.sec6{
    opacity:0
}
.sec7{
    opacity:0
}

.activeImage{
    opacity: 1
}



.movedown_container{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    height: 38px;
    z-index: 5;
}

.one_next{
    width: 26px;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -13px ;
    background: url('img/ic_one_next.png');
    animation-name: movedown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.two_next{
    width: 26px;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -13px ;
    background: url('img/ic_one_next.png');
    animation-name: movedown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.three_next{
    width: 26px;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -13px ;
    background: url('img/ic_one_next.png');
    animation-name: movedown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.four_next{
    width: 26px;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -13px ;
    background: url('img/ic_one_next.png');
    animation-name: movedown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}